*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstdiv{
    display: flex;
    gap: 5px;
    width: 1250px;
    height: 550px;
    color: #666;
    background: white;
    justify-content: center;
}

.firsttext{
    width: 40%;
    height: px;
}
.firstdiv h2{
    color: #000e42;
    font-size: 65px;
    font-weight: bolder;
}

.firstdiv p{
    font-size: 16px;
    font-family: sans-serif;
}

.firstdiv button{
    width: 131.66px;
    height: 55.8px;
    color: white;
    background-color: rgb(5, 5, 100);
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.sqiimage{
    width: 40%;
}

/* .seconddiv{
    width: 85%;
    height: 550px;
    color: #666;
    background: white;
    /* justify-content: center; */
    /* margin: 50px auto; */
} 

/* .starthere{
    color: #000e42;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 120px;
}

.sdimages{
    display: flex;
    justify-content: center;
    gap: 50px;
} */

/* .filter{
    filter: grayscale();
}

.sdwriteup1{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.nd{
    font-size: 24px;
    color: #000e42;
    /* margin-left: 120px; */
}

/* .ndp{
    font-size: 16px;
    /* margin-left: 10px; */
} 

/* .ndbtn{
    border: none;
    text-decoration: underline;
    background-color: white;
    /* margin-left: 120px; */
    /* font-size: 20px; */
/* } */


.container{
    width: 85%;
    margin: 50px auto;
}

.container>h1{
    font-size: 42px;
    color: #050754;
    margin-left: 50px;
}

.certifi{
    display: flex;
    gap: 15px;
    justify-content: center;
    border: 1px solid;
}

.card{
    /* border: 1px solid; */
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid;
}

.card-img{
    height: 355px;
    width: 300px;
    background-size: cover;
    filter: grayscale();
}

.card-img-1{
    background-image: url(images/college.jpg);
    background-repeat: no-repeat;
}

.card-img-2{
    background-image: url(images/prof.jpg);
}

.card-img-3{
    background-image: url(images/certificate.jpg);
}

.card-title{
    color: #000e54;
    font-size: 23px;
    font-weight: 700;
}

.card-body{
    width: 300px;
    color: #666;
    font-size: 14px;
    line-height: 23px;
}

.card-link{
    text-decoration: none;
    color: #26364e;
    font-weight: bold;
    border-bottom: 2px solid #26364e;
    width: fit-content;
    padding-bottom: 10px;
}

.programs{
    color: #666;
    width: 85%;
    margin: 50px auto;
    display: flex;
    gap: 100px;
    justify-content: space-around;
}

.NDC{
    width: 30%;
}

.NDC h2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.section{
    width: 300px;
    border-bottom: 1px solid black;
    padding-top: 25px;
}

.description{
    font-size: 16px;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.PDC{
    width: 30%;
}

.PDC h2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.CP{
    width: 30%;
}

.CP h2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.top-classes{
    /* border: 1px solid red; */
    width: 85%;
    margin: 50px auto;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tch2{
    font-size: 48px;
    color: #333333;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tcsp{
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.lm{
    font-size: 14px;
    font-weight: 600;
}

.lm:hover{
    color: #E06100;
}

.courses{
    width: 450px;
    /* width: 48%; */
    height: 550px;
    border: 1px solid;
    background-color: #88c4cd99;
    border-radius: 20px;
    margin-left: 50px;
    /* justify-items: center; */
}
.courses img{
    /* width="350px" height="200px" */
    width: 80%;
    height: 200px;
    border-radius: 20px;
    margin-left: 45px;
    margin-top: 45px;
}

.courses h2{
    width: 80%;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.courses p{
    width: 80%;
    margin-left: 45px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.cs1{
    margin-left: 45px;
}

.part2{
    background-color: #eeefbd;
    position: absolute;
    top: 70px;
    right: 30px;
}

.part3{
    background-color: #e0d5c0;
    position: absolute;
    top: 840px;

}

.part4{
    background-color: #dfd5e8;
    position: absolute;
    right: 30px;
    /* bottom: 200px; */
    top: 640px;
}

.alumni-company{
    width: 85%;
    min-height: auto;
    justify-self: center;
}

.companies{
    width: 200px;
    height: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 15px;
    
    /* justify-self: center; */
}

.companies img{
    width: 150px;
    height: 80px;
}